@namespace BlazorCardGame.WebUI.Components.InfoArea
@inherits Fluxor.Blazor.Web.Components.FluxorComponent
@using BlazorCardGame.WebUI.Components.InfoArea

<div id="info-area">
    <div id="progress-cell" class="flex-row darkgold-bg">
        <div class="flex-1 cell">
            Ante <span class="big-number gold">@RunState.Value.Ante</span>/8
        </div>
        <div class="flex-3"><span class="big-number bold">Big Blind</span></div>
        <div class="flex-1 cell">Round <span class="big-number gold">@RunState.Value.Round</span></div>
    </div>
    <div id="challenge-cell" class="flex-row goal cell darkgold-bg">
        <div class="medallion-container flex-1">
            <div class="medallion darkgold-bg flex-center">
                <div>BIG</div>
                <div>BLIND</div>
            </div>
        </div>
        <div class="red flex-2 bold big-number">@getScoreToWin()</div>
        <div class="flex-1 flex-column">
            <div>score to win</div>
            <div class="dollars">$$$$</div>
        </div>
    </div>
    <div id="score-cell" class="cell flex-row">
        <div class="flex-1 flex-center">Round score</div>
        <div class="flex-2 bold big-number">@RoundState.Value.RoundScore</div>
        <div class="flex-1"></div>
    </div>
    <div id="calculation-cell" class="calculation cell flex-column">
        <div id="hand-category">@GameService.GetHandCategoryName() <span id="hand-category-level">lvl. 1</span></div>
        <div class="flex-row w-half">
            <div class="colorbox blue-borderless-bg flex-3 bold">@GameService.GetHandScore()</div>
            <div id="multiplier-x" class="flex-1">x</div>
            <div class="colorbox red-borderless-bg flex-3 bold">@GameService.GetHandMultiplier()</div>
        </div>
    </div>
    <div id="inventory-cell" class="inventory cell flex-row">
        <div class="colorbox-thin gold gold-border flex-center flex-1 bold big-number">$@RunState.Value.Cash</div>
        <div class="colorbox-thin blue-border flex-row flex-1">
            <div class="flex-center"><span class="bold blue big-number">@RoundState.Value.HandsRemaining</span> Hands</div>
        </div>
        <div class="colorbox-thin red-border flex-column flex-1">
            <div class="flex-center"><span class="bold red big-number">@RoundState.Value.DiscardsRemaining</span> Discards</div>
        </div>
    </div>
    <div id="help-cell" class="cell flex-row">
        <div class="flex-center flex-1">
            <div class="button-small lime-bg flex-center">R</div>
        </div>
        <div class="flex-center flex-1">
            <div class="button-small pink-bg flex-center">?</div>
        </div>
        <div class="flex-center flex-1">
            <div class="button-small orange-bg flex-center">O</div>
        </div>
    </div>

</div>